/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #AA0000;
  background-image: url("../images/niku.jpg");
  background-size: cover;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  font-size: 42px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: white;
  border-top: 1px solid #e5e5e5;
  font-size: 20px;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  background-color: rgba(44, 44, 44, 0.8);
}
.jumbotron .btn {
  padding: 14px 140px;
  font-size: 21px;
  margin: 2px;
}
.text-muted {
  color: white;
}
strong.role {
  color: white;
  font-size: 40px;
}
.col-md-4 {
width: 33.33333333%;
text-align: center;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.bt-height {
  line-height: 0.5;
}

#niku-badge {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 100;
  border: none;
}

.row {
margin-left: -45px;
margin-right: 0px;
}

.btn-a {
  background-color: hsl(360, 100%, 57%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe3838", endColorstr="#fe2323");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fe3838), to(#fe2323));
  background-image: -moz-linear-gradient(top, #fe3838, #fe2323);
  background-image: -ms-linear-gradient(top, #fe3838, #fe2323);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe3838), color-stop(100%, #fe2323));
  background-image: -webkit-linear-gradient(top, #fe3838, #fe2323);
  background-image: -o-linear-gradient(top, #fe3838, #fe2323);
  background-image: linear-gradient(#fe3838, #fe2323);
  border-color: #fe2323 #fe2323 hsl(360, 100%, 56%);
  color: white;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.06);
  -webkit-font-smoothing: antialiased;
}

.btn-b {
  background-color: hsl(22, 100%, 58%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7d32", endColorstr="#ff7728");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff7d32), to(#ff7728));
  background-image: -moz-linear-gradient(top, #ff7d32, #ff7728);
  background-image: -ms-linear-gradient(top, #ff7d32, #ff7728);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7d32), color-stop(100%, #ff7728));
  background-image: -webkit-linear-gradient(top, #ff7d32, #ff7728);
  background-image: -o-linear-gradient(top, #ff7d32, #ff7728);
  background-image: linear-gradient(#ff7d32, #ff7728);
  border-color: #ff7728 #ff7728 hsl(22, 100%, 57.5%);
  color: white;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.03);
  -webkit-font-smoothing: antialiased;
}